<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
</head>
<body>
<div class="allClassesContainer">
    <!-- NAVBAR TOP--><!-- NAVBAR TOP--><!-- NAVBAR TOP--><!-- NAVBAR TOP--><!-- NAVBAR TOP-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-11">
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-text text-light">
                        <span class="font-weight-bold" id="user_now_email"></span>
                        <span id="user_now_roles"></span>
                </span>
            </nav>
        </div>
        <div class="col-1">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 0">
                <a th:href="@{/logout}" class="navbar-text ml-auto">Logout</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <!-- NAVBAR TOP--><!-- NAVBAR TOP--><!-- NAVBAR TOP--><!-- NAVBAR TOP--><!-- NAVBAR TOP-->
    <div class="row bg-light p-0 m-0 ">
        <!--NAVBAR LEFT--><!--NAVBAR LEFT--><!--NAVBAR LEFT--><!--NAVBAR LEFT--><!--NAVBAR LEFT-->
        <div class="col-3 bg-white p-0 m-0 mt-3" style="height: 100vh;">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active pl-4" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
                   role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link pl-4" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <!--NAVBAR LEFT--><!--NAVBAR LEFT--><!--NAVBAR LEFT--><!--NAVBAR LEFT--><!--NAVBAR LEFT-->
        <div class="col-9 mt-3 bg-light">
            <div class="rightSide">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                         aria-labelledby="v-pills-admin-tab">
                        <h1>Admin Panel</h1>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="table_of_users" data-toggle="tab" href="#user_table_tab">Users
                                    table</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="addNewUser-tab" data-toggle="tab" href="#addNewUserTab"
                                   aria-controls="addNewUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!--USERS TABLE--><!--USERS TABLE--><!--USERS TABLE--><!--USERS TABLE--><!--USERS TABLE-->
                            <div class="tab-pane fade show active" id="user_table_tab" role="tabpanel"
                                 aria-labelledby="usersTable-tab">
                                <div class="card">
                                    <div class="card-header">
                                        All users
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="ViewUsersTable">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--USERS TABLE--><!--USERS TABLE--><!--USERS TABLE--><!--USERS TABLE--><!--USERS TABLE-->
                            <!--MODAL EDIT--><!--MODAL EDIT--><!--MODAL EDIT--><!--MODAL EDIT--><!--MODAL EDIT-->
                            <div class="modal fade" id="modal_edit" tabindex="-1" role="dialog"
                                 aria-labelledby="editUser" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editUserLabel">Edit</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body justify-content-center text-center">
                                            <form id="edit_form" class="form-row justify-content-center mx-auto col-8">
                                                <div class="card-body">
                                                    <label class="font-weight-bold mb-0 pt-3" for="editId">ID</label>
                                                    <span class="form-group">
                                                        <input class="form-control" type="text" id="editId" readonly>
                                                    </span>
                                                    <label class="font-weight-bold mb-0 pt-3" for="editFirstname">First
                                                        Name</label>
                                                    <span class="form-group">
                                                        <input type="text" name="editFirstname"
                                                               id="editFirstname"
                                                               class="form-control"/>
                                                    </span>
                                                    <label class="font-weight-bold mb-0 pt-3"
                                                           for="editLastname">Lastname</label>
                                                    <span class="form-group">
                                                        <input type="text" name="editLastname"
                                                               id="editLastname"
                                                               class="form-control"/>
                                                    </span>
                                                    <label class="font-weight-bold mb-0 pt-3"
                                                           for="editAge">Age</label>
                                                    <span class="form-group">
                                                        <input type="text" name="editLastname"
                                                               id="editAge"
                                                               class="form-control"/>
                                                    </span>
                                                    <label class="font-weight-bold mb-0 pt-3"
                                                           for="editEmail">Email</label>
                                                    <span class="form-group">
                                                                                <input type="email" name="editEmail"
                                                                                       id="editEmail"
                                                                                       class="form-control "/>
                                                                            </span>
                                                    <label class="font-weight-bold mb-0 pt-3" for="editPassword">Password</label>
                                                    <span class="form-group">
                                                                                <input type="password"
                                                                                       name="editPassword"
                                                                                       id="editPassword"
                                                                                       class="form-control "/>
                                                                            </span>
                                                    <label class="font-weight-bold mb-0 pt-3"
                                                           for="editCheckRoles">Roles</label>
                                                    <select name="checkRoles"
                                                            class="custom-select"
                                                            style="height: 50pt;"
                                                            id="editCheckRoles" multiple>
                                                        <option value="ADMIN">Admin</option>
                                                        <option value="USER">User</option>
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary">Close</button>
                                                    <button type="submit" class="btn btn-info">Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--MODAL EDIT--><!--MODAL EDIT--><!--MODAL EDIT--><!--MODAL EDIT--><!--MODAL EDIT-->
                            <!--MODAL DELETE--><!--MODAL DELETE--><!--MODAL DELETE--><!--MODAL DELETE-->
                            <!--MODAL DELETE--><!--MODAL DELETE-->
                            <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteUser" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteUserLabel">Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-row justify-content-center mx-auto col-6">
                                                <label class="font-weight-bold mb-0 pt-1">ID</label>
                                                <input type="text" class="form-control" id="deleteId" readonly>
                                                <label class="font-weight-bold mb-0 pt-3">First name</label>
                                                <input type="text" class="form-control" id="deleteFirstname" readonly>
                                                <label class="font-weight-bold mb-0 pt-3">Last name</label>
                                                <input type="text" class="form-control" id="deleteLastname" readonly>
                                                <label class="font-weight-bold mb-0 pt-3">Age</label>
                                                <input type="number" class="form-control" id="deleteAge" readonly>

                                                <label class="font-weight-bold mb-0 pt-3">Email</label>
                                                <input type="email" class="form-control" id="deleteEmail" readonly>
                                                <label class="font-weight-bold mb-0 pt-3">Role</label>
                                                <select name="check-delete" class="custom-select" id="deleteRoles"
                                                        style="height: 45pt;" multiple disabled>
                                                    <option value="admin">ADMIN</option>
                                                    <option value="user">USER</option>
                                                </select>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" id="delete_modal_button" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--MODAL DELETE--><!--MODAL DELETE--><!--MODAL DELETE--><!--MODAL DELETE-->
                            <!--MODAL DELETE-->

                            <!--USER ADD FORM--><!--USER ADD FORM--><!--USER ADD FORM--><!--USER ADD FORM-->
                            <div class="tab-pane fade" id="addNewUserTab" role="tabpanel"
                                 aria-labelledby="addNewUser-tab">
                                <div class="card">
                                    <div class="card-header">
                                        Add New User
                                    </div>
                                    <div class="card-body justify-content-center ">
                                        <form id="addUserForm"
                                              class="form-row justify-content-center text-center mx-auto col-8">
                                            <div class="Users" style="width: 350px; margin:auto;">

                                                <label class="font-weight-bold mb-0 pt-3"
                                                       for="firstNameAdd">First Name</label>
                                                <span class="form-group">
                                                    <input type="text" name="firstNameAddName"
                                                           id="firstNameAdd" placeholder="Firstname"
                                                           class="form-control "/>
                                                </span>

                                                <label class="font-weight-bold mb-0 pt-3" for="lastNameAdd">Last
                                                    Name</label>
                                                <span class="form-group">
                                                    <input type="text" name="lastNameAddName"
                                                           placeholder="Lastname"
                                                           id="lastNameAdd" class="form-control "/>
                                                </span>

                                                <label class="font-weight-bold mb-0 pt-3"
                                                       for="passwordAdd">Password</label>
                                                <span class="form-group">
                                                    <input type="password" name="passwordAdd"
                                                           placeholder="Password"
                                                           id="passwordAdd"
                                                           class="form-control "/>
                                                    </span>
                                                <label class="font-weight-bold mb-0 pt-3" for="ageAdd">Age</label>
                                                <span class="form-group">
                                                    <input type="number" name="ageAdd"
                                                           placeholder="Age"
                                                           id="ageAdd"
                                                           class="form-control "/>
                                                </span>
                                                <label class="font-weight-bold mb-0 pt-3" for="emailAdd">Email</label>
                                                <span class="form-group">
                                                    <input type="email" name="emailAdd"
                                                           placeholder="Enter Email"
                                                           id="emailAdd"
                                                           class="form-control "/>
                                                    </span>
                                                <label class="font-weight-bold mb-0 pt-3"
                                                       for="checkRolesAdd">Roles</label>
                                                <select name="checkRoles"
                                                        class="custom-select justify-content-center text-center"
                                                        style="height: 50pt;"
                                                        id="checkRolesAdd" multiple>
                                                    <option value="ADMIN">Admin</option>
                                                    <option value="USER">User</option>
                                                </select>
                                                <div class="ui-button addNewUser mt-3" align="center">
                                                    <button type="submit" class="btn btn-success">Add
                                                        New User
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--USER ADD FORM--><!--USER ADD FORM--><!--USER ADD FORM--><!--USER ADD FORM-->
                        </div>
                    </div>
                    <!--USER INFORMATION TAB--><!--USER INFORMATION TAB--><!--USER INFORMATION TAB-->
                    <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <h1>User Information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                About User
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="user_now_page_table">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--USER INFORMATION TAB--><!--USER INFORMATION TAB--><!--USER INFORMATION TAB-->
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="/js.js"></script>
</div>
</body>
</html>